In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Load the csv exported in Part I to a DataFrame
weather_check_df = pd.read_csv("weather_check.csv")
weather_check_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Henties Bay,2,NaN,1584315246,93,-22.12,14.28,289.82,1.54
1,Vila,20,PT,1584315247,93,42.03,-8.16,280.93,2.80
2,Salalah,40,OM,1584315248,65,17.02,54.09,298.15,3.60
3,Cidreira,85,BR,1584315250,91,-30.18,-50.21,297.48,3.80
4,Ventspils,75,LV,1584315251,75,57.39,21.56,278.15,10.80
...,...,...,...,...,...,...,...,...,...
553,Bemidji,90,US,1584315838,63,47.47,-94.88,273.15,4.10
554,Srikakulam,43,IN,1584315839,92,18.30,83.90,295.22,0.48
555,Foumban,39,CM,1584315840,57,5.73,10.90,294.78,1.85
556,Buala,97,SB,1584315841,81,-8.14,159.59,301.29,3.89
557,Shimoda,40,JP,1584315843,43,34.67,138.95,284.15,3.60

In [3]:
# Humidity Heatmap
# Configure gmaps.
gmaps.configure(api_key = g_key)
# Use the Lat and Lng as locations and Humidity as the weight.
locations = list(zip(weather_check_df["Lat"], weather_check_df["Lng"]))
# Add Heatmap layer to map.
# Plot Heatmap
google_maps_figure = gmaps.figure()

# Create heat layer
heat_map_layer = gmaps.heatmap_layer(locations, 
                                     weights = weather_check_df["Humidity"].astype(float), 
                                     dissipating = False, 
                                     max_intensity = 100, 
                                     point_radius = 1)

# Add layer
google_maps_figure.add_layer(heat_map_layer)

# Display figure
google_maps_figure

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.
# Narrow down the DataFrame to find your ideal weather condition.
# Convert from degrees Kelvin to Fahrenheit
weather_check_df["Max Temp"] = weather_check_df["Max Temp"] * (9 / 5) - 459.67

In [5]:
# A max temperature lower than 80 degrees but higher than 70.
weather_check_df = weather_check_df.loc[(weather_check_df["Max Temp"] > 70) & (weather_check_df["Max Temp"] < 80)]
# Wind speed less than 10 mph.
weather_check_df = weather_check_df.loc[weather_check_df["Wind Speed"] < 10]
# Zero cloudiness.
weather_check_df = weather_check_df.loc[weather_check_df["Cloudiness"] == 0]
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# There are no rows to drop.
weather_check_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
14,Nouakchott,0,MR,1584315142,69,18.09,-15.98,73.400,8.70
48,Dingle,0,PH,1584315297,74,11.00,122.67,76.514,4.55
63,Cockburn Town,0,TC,1584315314,71,21.46,-71.14,74.228,7.27
70,Letlhakane,0,BW,1584315321,41,-21.42,25.58,74.840,1.71
163,Comodoro Rivadavia,0,AR,1584315420,49,-45.87,-67.50,71.600,0.50
164,Taoudenni,0,ML,1584315421,10,22.68,-3.98,73.328,4.18
181,Alibag,0,IN,1584315441,44,18.64,72.88,77.000,2.10
198,Catuday,0,PH,1584315459,80,16.29,119.81,78.764,5.40
230,Marsh Harbour,0,BS,1584315493,70,26.54,-77.06,72.716,4.12
262,Neuquén,0,AR,1584315527,27,-38.95,-68.06,77.000,2.10
282,Najrān,0,SA,1584315548,37,17.49,44.13,71.600,0.77
294,São João da Barra,0,BR,1584315561,83,-21.64,-41.05,78.800,2.10
346,Port Augusta,0,AU,1584315617,56,-32.50,137.77,71.006,0.50
363,Waipawa,0,NZ,1584315635,49,-41.41,175.52,71.600,7.20
391,Adrar,0,MR,1584315665,17,20.50,-10.07,70.340,5.50
426,Obo,0,CF,1584315702,44,5.40,26.49,71.672,1.52
457,Mendoza,0,AR,1584315507,27,-32.89,-68.83,77.000,1.50
488,Fuerte,0,PH,1584315769,58,17.54,120.36,78.908,2.39
491,Christchurch,0,NZ,1584315629,52,-43.53,172.63,71.006,7.70
508,Upington,0,ZA,1584315790,28,-28.45,21.26,73.400,0.50
512,Inhambane,0,MZ,1584315794,82,-23.86,35.38,78.764,4.85
535,Ilhabela,0,BR,1584315819,84,-23.78,-45.36,78.548,3.12

In [6]:
# Hotel Map
latitudes_longitudes = []
latitudes = weather_check_df["Lat"].tolist()
longitudes = weather_check_df["Lng"].tolist()
latitudes_longitudes = list(zip(latitudes, longitudes))
target_coordinates = []
i = 0
j = 1
for coordinate in latitudes_longitudes:
    target_coordinates.append(str(coordinate[0]) + ", " + str(coordinate[1]))
    i += 2
    j += 2
target_search = "hotel"
target_radius = 5000
target_type = "lodging"
# Create an empty list to store the hotels.
nearest_hotels_to_coordinates = []
for i in range(len(target_coordinates)):
    try:
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        # Set up a parameters dictionary.
        parameters = {"location": target_coordinates[i], 
                      "keyword": target_search, 
                      "radius": target_radius, 
                      "type": target_type, 
                      "key": g_key}
        # Run a request using our parameters dictionary, and convert the response to json.
        response_json = requests.get(base_url, params = parameters).json()
        nearest_hotels_to_coordinates.append(response_json["results"][0]["name"])
    except IndexError:
        nearest_hotels_to_coordinates.append("N/A")

In [7]:
hotel_df = weather_check_df.copy()
hotel_df["Hotel Name"] = nearest_hotels_to_coordinates
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
14,Nouakchott,0,MR,1584315142,69,18.09,-15.98,73.400,8.70,AZALAÏ HOTEL NOUAKCHOTT (MARHABA )
48,Dingle,0,PH,1584315297,74,11.00,122.67,76.514,4.55,N/A
63,Cockburn Town,0,TC,1584315314,71,21.46,-71.14,74.228,7.27,Osprey Beach Hotel
70,Letlhakane,0,BW,1584315321,41,-21.42,25.58,74.840,1.71,Hotel Phudzi
163,Comodoro Rivadavia,0,AR,1584315420,49,-45.87,-67.50,71.600,0.50,Lucania Palazzo Hotel
164,Taoudenni,0,ML,1584315421,10,22.68,-3.98,73.328,4.18,N/A
181,Alibag,0,IN,1584315441,44,18.64,72.88,77.000,2.10,"Radisson Blu Resort & Spa - Alibaug, India"
198,Catuday,0,PH,1584315459,80,16.29,119.81,78.764,5.40,Hotel G Beach Resort and Restobar
230,Marsh Harbour,0,BS,1584315493,70,26.54,-77.06,72.716,4.12,Abaco Beach Resort
262,Neuquén,0,AR,1584315527,27,-38.95,-68.06,77.000,2.10,Hilton Garden Inn Neuquen
282,Najrān,0,SA,1584315548,37,17.49,44.13,71.600,0.77,N/A
294,São João da Barra,0,BR,1584315561,83,-21.64,-41.05,78.800,2.10,Pousada Kactus
346,Port Augusta,0,AU,1584315617,56,-32.50,137.77,71.006,0.50,Discovery Parks - Port Augusta
363,Waipawa,0,NZ,1584315635,49,-41.41,175.52,71.600,7.20,N/A
391,Adrar,0,MR,1584315665,17,20.50,-10.07,70.340,5.50,N/A
426,Obo,0,CF,1584315702,44,5.40,26.49,71.672,1.52,N/A
457,Mendoza,0,AR,1584315507,27,-32.89,-68.83,77.000,1.50,Sheraton Mendoza Hotel
488,Fuerte,0,PH,1584315769,58,17.54,120.36,78.908,2.39,Hotel Veneto De Vigan
491,Christchurch,0,NZ,1584315629,52,-43.53,172.63,71.006,7.70,"Chateau on the Park - Christchurch, a DoubleTr..."
508,Upington,0,ZA,1584315790,28,-28.45,21.26,73.400,0.50,The Maxton Boutique Hotel Upington
512,Inhambane,0,MZ,1584315794,82,-23.86,35.38,78.764,4.85,Hotel Casa Do Capitão
535,Ilhabela,0,BR,1584315819,84,-23.78,-45.36,78.548,3.12,Ilha Flat Hotel

In [8]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
markers = gmaps.marker_layer(locations, 
                             info_box_content = hotel_info)
google_maps_figure.add_layer(markers)
google_maps_figure

Figure(layout=FigureLayout(height='420px'))